<h2>iif-sample works!</h2>

<div>
  <mat-radio-group [(ngModel)]="isSelected">
    <mat-radio-button [value]="true">フィルターする。</mat-radio-button>
    <mat-radio-button [value]="false">しない</mat-radio-button>
  </mat-radio-group>

  <button mat-raised-button
          (click)="onClick()">実行</button>
</div>

<mat-form-field class="form-field-width-stretch">
  <mat-label>Response Data</mat-label>
  <textarea matInput
            rows="10"
            title="Response Data"
            [ngModel]="responseData"></textarea>
</mat-form-field>
