<p>filter-sample works!</p>

<div>
  <button mat-raised-button
          (click)="sample1()">sample1</button>
  <button mat-raised-button
          (click)="sample2()">sample2</button>
  <button mat-raised-button
          (click)="sample3()">sample3</button>
  <button mat-raised-button
          (click)="sample4()">sample4</button>
</div>

<table mat-table
       [dataSource]="users">

  <ng-container matColumnDef={{displayColumns[0]}}>
    <th mat-header-cell
        *matHeaderCellDef>{{displayColumns[0] | uppercase}}</th>
    <td mat-cell
        *matCellDef="let user">{{user.Id}}</td>
  </ng-container>

  <ng-container matColumnDef={{displayColumns[1]}}>
    <th mat-header-cell
        *matHeaderCellDef>{{displayColumns[1] | uppercase}}</th>
    <td mat-cell
        *matCellDef="let user">{{user.Name}}</td>
  </ng-container>

  <tr mat-header-row
      *matHeaderRowDef="displayColumns"></tr>

  <tr mat-row
      *matRowDef="let row; columns: displayColumns;"></tr>

</table>
